<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="index.css") 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="shortcut icon" href="images/logo/favicon.png")
    title Foodfun
    include ./Components/data.pug
    include ./Components/mixin.pug
  body

    include ./Components/header.pug

    include ./Components/banner.pug

    include ./Components/welcome.pug

    include ./Components/food.pug

    include ./Components/reservation.pug

    include ./Components/special.pug

    include ./Components/feedback.pug

    include ./Components/update.pug

    include ./Components/book.pug

    include ./Components/footer.pug

    






