section.banner
  .container
    .row
      .banner__text
        h4 THE MOST INTERESTING FOOD IN THE WORLD
        h1 Discover the 
          span flavors 
          br 
          |of 
          span food 
          |fun