section.book
    .container
      .row
        .book__text
          h3 Book 
            span your 
            |table
          p.--white Beast kind form divide night above let moveth bearing darkness.
      .row
        .book__form
          form.form
            +input(input)
            .form__button
              a(href="#").btn.--none BOOK A TABLE
