section.feedback
    .container
      .row
        .feedback__text
          h3 Customer 
            span says 
          p Beast kind form divide night above let moveth bearing darkness.
      .row
        .feedback__item
          .feedback__contain
            .feedback__slide
              -for (var x = 0 ;x < 6 ; x++)
                .feedback__detail
                  .feedback__customer
                    .customer__img
                      img.img(src="images/customer1.png")
                    .customer__text
                      h1 Adame Nesane
                      h4 Chief Customer
                      p You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.