


section.food
    .container
      .row
        .food__text
          span we serve
          h3 delicious food
          br
          p They're fill divide i their yielding our after have him fish on there for greater man moveth, moved Won't together isn't for fly divide mids fish firmament on net.
      .row
        +fooditem(food)