section.about
  .container
    .row
      .about__item
        a(href="#")
          img.img(src="./images/logo/logo2.png")
        br
        br
        p Which morning fourth great won't is to fly bearing man. Called unto shall seed, deep, herb set seed land divide after over first creeping. First creature set upon stars deep male gathered said she'd an image spirit our

      .about__item
        span Contact Us
        ul
            +contact(contactlist)

      .about__item
        span Opening Hours
        ul
          +open(listopen)

footer  
  .container
    .row
      .footer__item
        <span> Nguyen Vinh Khiem
      .footer__item
       ul
          li 
            p.--white Follow us
            +social(itemsocial)     