header
    .container
      .row 
        .menu
          .menu__img
            a(href="#")
              img.img( src="images/logo/logo.png" )
          .menu__list
            ul
              +menu(list)

          .menu__list.--hide
            .menu__span
              span
              span
              span
            .menu__ul
              ul
                +menu(list)