section.reservation
    .container
      .row
        .reservation__text
          h2 Natural ingredients and testy food
          h4 Some Trendy And Popular Courses Offerd
          a.btn.--none(href="#") RESERVATION