section.update
    .container
      .row
        .update__text
          h3 Our 
            span food 
            |update
          p Beast kind form divide night above let moveth bearing darkness.
      .row
        +updateitem(update)