section.welcome
  .container
    .row
      .welcome__img 
        img.img(src="images/welcome-bg.png")
      .welcome__text
        span Welcome
        br
        h3 To food fun
        br
        p Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree am waters brought. Divide after there. Was.
        br
        p Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree waters brought. Divide after there. Was. Created god gathered don't you yielding herb you had. And isn't god.
        br
        a.btn(href="#") BOOK A TABLE